* {
  box-sizing: border-box;
}
.movie-column,
.seat-column,
.slot-column {
  display: inline-block;
  margin: 5px;
  color: rgb(0, 0, 0);
  border: 1px rgb(0, 0, 0) ridge;
  padding: 10px 15px;
  line-height: 1;
  border-radius: 5px;
  background-color: hsl(197, 31%, 84%);
  /* box-shadow: 0 0 5px 5px; */
}

.movie-row,
.seat-row,
.slot-row {
  border-radius: 10px;
  border: 0px black ridge;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(211,211,211)
  ;
  
}

.seat-column {
  min-width: 100px;
  text-align: center;
  padding-bottom: 15px;
}

.book-button button {
  text-align: center;
  border-radius: 10px;
  font-size: 1em;
  color: black;
  background: rgb(44, 209, 88);
  background: -moz-linear-gradient(
    233deg,
    rgba(44, 209, 88, 1) 0%,
    rgba(44, 108, 224, 1) 100%
  );
  background: -webkit-linear-gradient(
    233deg,
    rgba(44, 209, 88, 1) 0%,
    rgba(44, 108, 224, 1) 100%
  );
  background: linear-gradient(
    233deg,
    rgba(44, 209, 88, 1) 0%,
    rgba(44, 108, 224, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2cd158", endColorstr="#2c6ce0", GradientType=1);
  padding: 5px 15px;
  font-weight: 500;
  border: none;
}

.movie-column-selected,
.seat-column-selected,
.slot-column-selected {
  background: rgb(211, 115, 115);
  /* box-shadow: 0 0 5px 5px; */
}

input {
  width: 50px;
  border-color: rgb(196, 196, 196);
  border-width: 1px;
  border-style: solid;
}

.last-order {
  border-radius: 10px;
  border: 0px black ridge;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 24px;
  min-width: 330px;
  color: brown;
  background-color: aquamarine;
}

/* my css */
.last-order p {
  margin-bottom: 0;
}
.main {
  display: flex;
  padding: 30px;
}

.left {
  flex-grow: 1;
}
h2.main-title {
  padding: 30px;
  padding-bottom: 0;
  color: blueviolet;
}
.err {
  color: red;
}
.Slots{
  color:green
}
.Bookdetails{
  color: blueviolet;
}
.book-button button {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .main {
    flex-direction: column;
  }
  .last-order {
    margin-left: 0;
    margin-top: 3rem;
    min-width: 100%;
   
  }

  .book-button {
    display: flex;
    justify-content: center;
  }

  .book-button > button {
    width: 100%;
    padding: 0.5rem;
  }
}
